@tailwind base;
  @tailwind components;
  @tailwind utilities;

:root  {
  --background: 204 6% 100%;
  --foreground: 204 5% 10%;
  --card: 204 6% 100%;
  --card-foreground: 204 5% 15%;
  --popover: 204 6% 100%;
  --popover-foreground: 204 95% 10%;
  --primary: 204 81.8% 56.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 166 10% 95%;
  --muted-foreground: 204 5% 40%;
  --accent: 166 10% 90%;
  --accent-foreground: 204 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 204 5% 100%;
  --border: 204 20% 82%;
  --input: 204 20% 50%;
  --ring: 204 81.8% 56.9%;
  --radius: 0.5rem;
}
.dark  {
  --background: 204 10% 10%;
  --foreground: 204 5% 100%;
  --card: 204 6% 10%;
  --card-foreground: 204 5% 100%;
  --popover: 204 10% 5%;
  --popover-foreground: 204 5% 100%;
  --primary: 204 81.8% 56.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 166 10% 25%;
  --muted-foreground: 204 5% 65%;
  --accent: 166 10% 25%;
  --accent-foreground: 204 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 204 5% 100%;
  --border: 204 20% 50%;
  --input: 204 20% 50%;
  --ring: 204 81.8% 56.9%;
  --radius: 0.5rem;
}



  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


